<mat-card class="jugador-card">
  <mat-card-header>
    <div mat-card-avatar class="jugador-header-image"></div>
    <mat-card-title>{{jugador}}</mat-card-title>
    <mat-card-subtitle>{{equipoNombre}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="" alt="">

  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="activarJugador()">Activar</button>
  </mat-card-actions>
</mat-card>

<p>El jugador es:{{jugador}}
  y es parte del equipo: {{equipoNombre}}
</p>
